# —— keep only the one metadata file in data/ ——
/data/**
!/data/

# preprocessed folder
/data/preprocessed/**
!/data/preprocessed/

/data/preprocessed/processed_data/**
!/data/preprocessed/processed_data/

/data/preprocessed/processed_data/**
!/data/preprocessed/processed_data/preprocessing_metadata.json

# —— everything else you regenerate or don’t want in Git ——
/source_data/*
/venv/*
/preprocessed_data/*
/images/*
/.env/*
/config/*
/emergency_save/*
/.preprocess_EDA_fe/*

/.df_train_progress.parquet/*
/.df_test_progress.parquet/*
/df_val_progress.parquet/*
*.pkl
.EDA_3.ipynb
/upworthy_data/*
/model_output/*
